* {
 
  color: black;
  background-color:#7776B3;
  font-size: large;
}

.navbar{
padding-left: 450px;
padding-top: 30px;
background-color: burlywood;
border: 2px solid black;
}
a{
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 160px;
  text-decoration: none;
  text-align: center;
  background-color: none;
}






