* {
  background-color:#40534C;
  color: black;
  font-size: large;
  padding: 0px;
  margin: 0px;

}

.navbar{
padding-left: 550px;
padding-top: 30px;
width:auto;
display: flex;
background-color: rgb(180, 148, 106);
border: 2px solid black;
}
a{
  font-family:Arial, Helvetica, sans-serif;
  margin-left: 160px;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}








